<!-- TODO: Properly style this so that it splits the socials and the copyright -->
<footer class="footer has-text-centered is-align-items-flex-end mt-auto">
  <p>
    TouhouFest™ is a production of the
    <a href="https://amp-organization.com/">AMP Organization</a>.
  </p>
  <p>
    <strong>© 2022 - {{ now() | date(format="%Y") }} AMP Organization</strong>
  </p>
  <p>
    <!-- TODO: Use FontAwesome Icons instead of text -->
    <a href="/contact-us"</a>Contact Us</a> |
    <a href="{{ config.extra.socials.discord_invite }}">Discord</a> |
    <a href="{{ config.extra.socials.twitter }}">Twitter</a> |
    <a href="{{ config.extra.socials.bluesky }}">BlueSky</a> |
    <a href="{{ config.extra.socials.instagram }}">Instagram</a> |
    <a href="{{ config.extra.socials.youtube }}">YouTube</a>
  </p>
</footer>
